
<div class="dsc-mini" *ngIf="session" [fxLayout]="mode == 'portrait' ? 'column' : 'row'" fxLayoutAlign="space-between stretch">
<div>
<!-- <div class="dsc-mini" *ngIf="session"> -->
  <p class="lineID">{{labelShort}}</p>

  <app-target fxFlex="50" [line]="session.line" [target]="target" [series]="currentSeries" [selectedShotIndex]="selectedShotIndex" [has_trial_corner]="has_trial_corner" [width]="'100%'" [height]="'100%'"></app-target>

  
  <div [style.width]="'100%'" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between center">
    
    
    <div fxFlex="10">
      <p class="medium">{{session.user.firstName}} {{session.user.lastName}}</p>
    </div>
    
    <div fxFlex="10">
      <p class="medium">{{session.user.verein}} {{session.user.manschaft}}</p>
    </div>
    
    
    <div *ngIf="currentPart.anzahl > 0" fxFlex="60" class="detail" fxLayout="row warp">
      <div *ngIf="currentShot" class="info" fxFlex="50">
        <p class="big bold">{{currentShot.ring.display}}</p>
        <!-- <p *ngIf="currentShot.ring_text == '10.9'" class="">{{currentShot.teiler}} Teiler</p> -->
      </div>
      <div class="info full" fxFlex="50">
        <p class="medium light ">{{currentPart.anzahl}}.</p>
      </div>
      <div class="info" fxFlex="50">
        <p class="medium light">{{currentPart.schnitt}} &Oslash;</p>
        <p class="small">{{currentPart.schnittCalc}} Ringe</p>
      </div>
      <div class="info" fxFlex="50">
        <p class="medium bold">{{currentPart.gesamt}}</p>
        <p class="small">Ringe</p>
      </div>
    </div>
    
    <div fxFlex="20" class="series" fxLayout="row" fxLayoutAlign="space-evenly center">
      <div fxFlex *ngFor="let series of currentPart.serien" class="medium">{{series.gesamt}}</div>
    </div>
    
  </div>

  
  
</div>
</div>
