<div class="dsc-mini" *ngIf="session" >
  <div fxFlex fxLayout="column" fxLayoutAlign="space-between stretch">
    <p class="lineID">{{labelShort}}</p>
    <app-target fxFlex="40" [line]="session.line" [target]="target" [series]="currentSeries" [selectedShotIndex]="selectedShotIndex" [has_trial_corner]="has_trial_corner" [width]="'100%'" [height]="'100%'"></app-target>
    <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly">
      <div fxFlex="nogrow">
        <p fittext [fontUnit]="'vmin'" [maxFontSize]="'2.4'" [ngClass]="nameFontClass">&#8203;{{session.user.firstName}} {{session.user.lastName}}</p>
        <p fittext [fontUnit]="'vmin'" [maxFontSize]="'2.4'" [ngClass]="vereinFontClass">&#8203;{{session.user.verein}} {{session.user.manschaft}}</p>
      </div>
      
      <div fxLayout="row">
        <div *ngIf="currentShot" class="info" fxFlex="50">
          <p class="medium bold">{{currentShot.ring.display}}</p>
          <p class="bottomLabel">{{currentShot.teiler}}</p>
        </div>
        
        <div *ngIf="currentPart.anzahl > 0" class="info" fxFlex="50">
          <p class="medium-s light">{{currentPart.schnitt}} &Oslash;</p>
          <p class="bottomLabel">{{currentPart.schnittCalc}}</p>
        </div>
      </div>
        
      <div fxLayout="row">
        <div *ngIf="currentPart.anzahl > 0" class="info full" fxFlex="50">
          <p class="medium-s light ">{{currentPart.anzahl}}</p>
          <p class="bottomLabel">{{currentPart.anzahl == 1 ? 'Schuss' : 'Schüsse'}}</p>
        </div>
        
        <div *ngIf="currentPart.anzahl > 0" class="info" fxFlex="50">
          <p class="medium bold">{{currentPart.gesamt}}</p>
          <p class="bottomLabel">Ringe</p>
        </div>
      </div>
      
      
      <div class="series" fxLayout="row" fxLayoutAlign="space-evenly center">
        <div fxFlex *ngFor="let series of currentPart.serien" class="medium-s">{{series.gesamt}}</div>
      </div>
      

    </div>
  </div>
</div>
