
<div class="dsc-mini" *ngIf="session" [fxLayout]="mode == 'portrait' ? 'column' : 'row'" fxLayoutAlign="space-between stretch">
<div>
<!-- <div class="dsc-mini" *ngIf="session"> -->
  <p class="lineID">{{session.info.line.short_name}}</p>

  <app-target fxFlex="50" [line]="session.info.line.id" [target]="target" [series]="currentSeries" [selectedShotIndex]="selectedShotIndex" [has_trial_corner]="has_trial_corner" [width]="'100%'" [height]="'100%'"></app-target>

  
  <div [style.width]="'100%'" fxFlex="50" *ngIf="currentPart.number_of_shots" fxLayout="column" fxLayoutAlign="space-between center">
    
    
    <div fxFlex="10">
      <p class="medium">{{session.info.user.first_name}} {{session.info.user.last_name}}</p>
    </div>
    
    <div fxFlex="10">
      <p class="medium">{{session.info.club.name}} {{session.info.team.name}}</p>
    </div>
    
    
    <div fxFlex="60" class="detail" fxLayout="row warp">
      <div *ngIf="currentShot" class="info" fxFlex="50">
        <p class="big bold">{{currentShot.ring_text}}</p>
        <p *ngIf="currentShot.ring_text == '10.9'" class="">{{currentShot.teiler}} Teiler</p>
      </div>
      <div class="info full" fxFlex="50">
        <p class="medium light ">{{currentPart.number_of_shots}}.</p>
      </div>
      <div class="info" fxFlex="50">
        <p class="medium light">{{currentPart.average}} &Oslash;</p>
        <p class="small">{{currentPart.result_prediction}} Ringe</p>
      </div>
      <div class="info" fxFlex="50">
        <p class="medium bold">{{currentPart.sum.text}}</p>
        <p class="small">Ringe</p>
      </div>
    </div>
    
    <div fxFlex="20" class="series" fxLayout="row" fxLayoutAlign="space-evenly center">
      <div fxFlex *ngFor="let series of currentPart.series" class="medium">{{series.sum.text}}</div>
    </div>
    
  </div>

  
  
</div>
</div>
