p {
  
}



.lineID {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2.5vmin;
  font-size: 4vmin;
  width: 5vmin;
  text-align: center;
  vertical-align: middle;
  margin: -0.5vmin 0 0 -0.5vmin;
  padding: 0;
  border: 1px #d0d0d0 solid;
  box-shadow: 0px 4px 8px 0 rgba(199, 199, 199, 0.2);
}

.series {
  width: 100%;
  text-align: center;
  li {
    list-style: none;
    padding-right: 5px;
  }
}


.detail {
  margin: 5px 0 5px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}


// .info {
// 
// }


p {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}




.full {
  display: inline;
  vertical-align: middle;
}


.big {
  font-size: 4vmin;
}
.medium {
  font-size: 2.5vmin;
  padding: 0 2px 0 2px;
}
.small {
  font-size: 1.5vmin;
}

.bold {
  font-weight: 500;
}

.light {
  font-weight: 200;
}

.bottom {
  vertical-align: bottom;
}
.top {
  vertical-align: top;
}
