

.lineID {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2.5vmin;
  font-size: 3vmin;
  font-weight: bold;
  width: 5vmin;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  box-shadow: 0px 4px 8px 0 rgba(199, 199, 199, 0.2);
}


.series {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5vmin;

  li {
    list-style: none;
    padding-right: 5px;
  }
}


p {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}


app-target {
  border-radius: 1vmin;
  overflow: hidden;
}


.full {
  display: inline;
  vertical-align: middle;
}

.bottomLabel {
  @extend .small;
  margin-top: -0.5vmin;
}


.big {
  font-size: var(--bigFontSize);
}
.medium {
  font-size: var(--mediumFontSize);
  padding: 0 2px 0 2px;
}
.medium-s {
  font-size: var(--mediumSFontSize);
  padding-top: 0.2vmin;
  padding-bottom: 0.2vmin;
}
.small {
  font-size: var(--smallFontSize);
}

.bold {
  font-weight: 500;
}

.light {
  font-weight: 200;
}

.bottom {
  vertical-align: bottom;
}
.top {
  vertical-align: top;
}
