$base-color: #f5f5f5;
$box-color: #ffffff;
$border-color: #ebebeb;
$border-hoover-color: #777;
$detail-text: rgb(51, 51, 51);
$main-text: rgb(0, 0, 0);

$border-radius: 2.5vmin;





:root {
  --dscMiniBaseScale: 1;
  
  --bigFontSize: calc(3vmin * var(--dscMiniBaseScale));
  --mediumFontSize: calc(2.4vmin * var(--dscMiniBaseScale));
  --mediumSFontSize: calc(2.2vmin * var(--dscMiniBaseScale));
  --smallFontSize: calc(1.5vmin * var(--dscMiniBaseScale));
}



html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	user-select: none;
	
	background-color: $base-color;
  max-width: 100vw;
  max-height: 100vh;
}

@media only screen and (max-width: 599px) {
 html {
	 overflow: auto;
 }
}

h1, h2, h3, h4 {
	text-align: center;
	padding: 0;
	margin: 0;
}



.box {
	background-color: $box-color;
	border: 1px $border-color solid;
	overflow: hidden;
	border-radius: $border-radius;
	box-shadow: 0px 4px 8px 0 rgba(199, 199, 199, 0.2);
}




:root {
  --dscBaseScale: 0.8;
}

.dsc-mini {
	height: 100%;
	padding: 0.5vmin 0.5vmin 0.5vmin 0.5vmin;
}

.dsc-mini > div {
	@extend .box;
  border: 5vmin;
  overflow: hidden;
}
